@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display-swap");

* {
    box-sizing: border-box;
    color: rgb(12, 12, 107);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

input, select, button, #buscar {
    border-radius: 6px;
    border-color: inherit;
    height: 2rem;
    
}

button {
    background-color: rgb(12, 12, 107);
    color: white;
    width: 10rem;
    height: 2.5rem;
}

label {
    font-size: small;
    font-weight: bold;
}

alert {
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

.toast {
    list-style-type: none;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2.5rem;
}

#container1 {
    position: absolute;
    top: 14rem;
    left: 8rem;
}

#quantidade, #valorUnidade {
    width: 5rem;
}

#fabricanteProduto, #categoriaProduto {
    width: 11rem;
}

#container2 {
    position: absolute;
    top: 14rem;
    right: 8rem;
    align-items: center;
}

#sub-container {
    display: flex;
    
}

#sub-sub-container {
    float: right;
    margin-left: 20px;
}

#sub-sub-container button {
    width: 5rem;
}

#cadastrarProdutoH3 {
    margin-top: 2rem;
}

#produtosCadastrados {
    margin-top: 2rem;
}